{
  "extends": [
    "airbnb",
    "prettier/react"
  ],
  "plugins": [
    "prettier"
  ],
  "env": {
    "es6": true,
    "browser": true,
    "node": true,
    "jest": true
  },
  "rules": {
    "react/jsx-filename-extension": [1, {"extensions": [".js"]}],
    "import/no-named-as-default": 0,
    "no-param-reassign": ["error", { "props": false }]
  }
}
